.contactform{
    padding: 0 34px;
    margin: 88px;
}

.contactform h1{
    /*padding: 12px 0;*/
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    /*width: 26vw;*/
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.contactform form{
    margin: 0 40px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}