.intro{
    margin: 88px 88px;
}

.intro h2{
    margin: 12px;
}

.intro P{
    margin: 12px;
}

.skillcontainer{
    margin: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-weight: 900;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}