.intro h2{
    margin: 12px;
}

.intro P{
    margin: 12px;
}

.skillcontainer{
    margin: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
}