*{
    margin: 0;
    padding: 0;
}
.main{
    /*background-color: yellow;*/
    width: 90vw;
}
.container{
    display: flex;
}

.infocontainer{
    background-color: blue;
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 65px;
}

.name{
    font-size: 50px;
    font-weight: bold;

}

.about{
    font-size: 40px;
}

.moreabout{
    font-size: 22px;
    margin-top: 23px;

}

.buttons{
    margin-top: 34px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(237, 181, 181);
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.devpic img{
    height: 58vh;
}