.sidebar{
    position: absolute;
    background-color: gray;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
}

.cross{
    margin-left: 185px;
    margin-top: 10px;
}

@media(max-width: 1615px){
    *{
        /*background-color: brown;*/
    }
    .buttons{
        font-size: 6px;
    }
    .devinfo{
        font-size: 10px;
    }
    .devpic{
        display: none;
    }
    .intro, .contactform{
        margin: 50 px 8px;
    }
}
