.sidebar{
    background-color: gray;
    width: 434px;
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

